Source: helloworld-qt
Maintainer: Louis Paternault <spalax+python@gresille.org>
Section: contrib/games
Priority: optional
Build-Depends: debhelper (>= 8), dh-python, python3-all, python3-setuptools
X-Python-Version: >= 3.6
Standards-Version: 4.1.4

Package: helloworld-qt
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyqt5
Description: Dummy program to test debian packaging of python3 packages with QT
 This description is useless.
